table(style='width:100%', border='1')
    tr
        th ID
        th Date of Birth
        th Gender
        th Address
        th First Name
        th Last Name
        th Phone Number
        th Sick Room
        th Diagnosis
        th Discharge Date
        th Fee
        th Nurse Code
        th Admission Date
    tr
        each info in patient
            th= info